body {
  background: #fafafa;
  font-family: OpenSans, Arial, Helvetica;
}

header {
  background: #00AFC7;
  padding: 8px;
}

h1, h2, .menu a {
  font-family: grutchshadedregular, Helvetica, OpenSans, Arial;
  color: #40445C;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 3.25em;
}
h1 a, .menu a {
  color: #40445C;
  text-decoration: none;
}

.menu a {
  font-size: 1.3em;
  display: inline-block;
  margin: 0 1em 5px 0;
  border-bottom: 1px solid #40445C;
}
.menu a:hover {
  border-bottom: 1px solid #89F8AD;
}
.menu a.current {
  cursor: text;
  border-bottom: 1px solid #89F8AD;
}
.selection .button {
  display: none;
  opacity: .5;
  color: #333;
  background: #EF89F8;
  padding: 4px 9px;
  margin: 2px 0;
  border: 1px solid #E80AFC;
}
.selection .button.initialized {
  display: inline-block;
}
.selection .button.active {
  opacity: 1;
  cursor: pointer;
  box-shadow: 1px 1px 4px 0px #333; /* button */
}
.selection .button.active:hover,
.selection .button.active.filtered:hover {
  box-shadow: 1px 1px 1px 0px #333; /* button half pressed */
}
.selection .button.active.filtered {
  box-shadow: none; /* button pressed */
  color: #000;
}
.selection .indicator:after {
  content: ' Photos';
}
.selection .button.toggle:before {
  content: 'Filter ';
}
.selection .button.error {
  border-color: red;
}
.selection .button.loading {
  opacity: 1;
  color: #fff;
  border-color: #EF89F8;
  -webkit-animation: glowIt 2s infinite;  
  animation: glowIt 2s infinite;
}
@-webkit-keyframes glowIt {
    0% { 
        background-color: #EF89F8; 
        -webkit-box-shadow: 0 0 9px #ccc; 
    }
    50% { 
        border-color: #ff6b6f;
        background-color: #ff6b6f; 
        -webkit-box-shadow: 0 0 18px #ff6b6f; 
        }
    100% { 
        background-color: #EF89F8; 
        -webkit-box-shadow: 0 0 9px #ccc; 
    }
}

/* empty message */
.empty-message {
  display: none;
  margin-top: 2em;
}
.empty .empty-message {
  display: block;
}

@media (max-width: 640px) {
  header {font-size: 90%;}
}

@media (max-width: 500px) {
  header {font-size: 75%;}
}

@media (max-width: 400px) {
  .selection .button {padding: 4px;}
}
@media (max-width: 350px) {
  header {font-size: 70%;}
}
