body {
  background: #fafafa;
  font-family: OpenSans, Arial, Helvetica;
}

header {
  background: #62c700;
  padding: .5em;
}

.selection.indicator {
  cursor: pointer;
  color: #333;
  background: #E80AFC;
  padding: 4px 9px;
  border: 2px solid #E80AFC;
}
.selection.indicator.filtered {
  color: #000;
  border-color: #000;
}
.selection.indicator:hover {
  border-color: #eee;
}
