<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(app) styles/main.css -->
        <link rel="stylesheet" href="styles/fonts.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:css(app) styles/gallery.css -->
        <link rel="stylesheet" href="styles/devices.css">
        <link rel="stylesheet" href="styles/gallery.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <h1>Have a Gallery</h1>
            <div class="selection">
                <span class="toggle button" title="toggle selection"><span class="indicator"></span>
                <span class="pdf button" title="download selected photos as PDF document" data-url="http://api.brnjna.net/pdf" data-title="Flyer Auswahl" data-key="flyer"></span>
            </div>
        </header>

        <!-- Gallery App -->
        <div class="gallery-app" data-src="flyer-doc-remote" data-gal-selection="true">
            
            <!-- Container for Thumbs of First Page -->
            <div class="container photos loading"></div>
            <div class="stopper"></div>
            <!-- End Container Thumbs -->

            <!-- Slider -->
            <div class="slider">
                <div class="tray">
                    <div id="prev" class="photo prev"></div>
                    <div id="current" class="photo current"></div>
                    <div id="next" class="photo next"></div>
                    <a class="nav prev" title="[<-] previous"></a>
                    <a class="nav next" title="next [->]"></a>
                    <div class="close_button" title="close the slider [ESC]">
                        <div class="svg-icon">
                            <span style="background-image: url('images/icon-cross.png');">
                                <img src="images/icon-cross.svg">
                            </span>
                        </div>
                    </div>
                    <div class="cockpit">
                        <div class="cockpit_body"></div>
                        <div class="cockpit_button">
                            <div class="menu_icon svg-icon">
                                <span style="background-image: url('images/icon-menu.png');">
                                    <img src="images/icon-menu.svg">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slider -->

            <script type="text/html" id="template-thumb">
              <div class="photo loading" id="<%= img.get('digest') %>">
                  <img src="<%= img.getThumb().src %>"/>
                  <span class="selector"></div>
              </div>
            </script>

            <script type="text/html" id="template-cockpitBody">
              <div class="action">
                  <span class="selector"/>
              </div>
              <div>
                  <span class="line index"><%= img.index()+1 %> / <%= img.collection.length %></span>
                  <span class="line filename"><%= img.get('filenameOrig') %></span>
              </div>
            </script>
        </div>
        <!-- End Gallery App -->
        
        <!-- build:js scripts/vendor/jquery.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbuild -->


        <!-- build:js(dist) scripts/gallery.pkgd.js -->
        <script src="scripts/gallery.pkgd.js"></script>
        <!-- endbuild -->
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.brnjna.net/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "1"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();

          // tracking gallery usage:
          $(function() {
            var gal = $('.gallery-app').data('gallery');
            if (gal) {
              gal.model.on('slider:newImage', function(newLarge) {
                setTimeout(function() {
                  _paq.push(['setCustomUrl', window.location.href]);
                  _paq.push(['trackPageView']);
                }, 0);
              });
            }
          });

        </script>
        <!-- Piwik Image Tracker -->
        <noscript>
            <img src="http://piwik.brnjna.net/piwik.php?idsite=1&amp;rec=1&amp;action_name=noscript" style="border:0" alt="" />
        </noscript>
        <!-- End Piwik -->
        <!-- End Piwik Code -->
</body>
</html>
