<header>
    <h1><a href="/">Have a Gallery</a></h1>
    <h2>{{ title }}</h2>
    <div class="menu selection">
      <a href="with_selection.html" class="{{#is pagename "with_selection.html"}}current{{/is}}">
        ... with Selection
      </a>
      <a href="of_a_selection.html" class="{{#is pagename "of_a_selection.html"}}current{{/is}}">
        ... of a Selection <span class="indicator" data-selection="{{#if production}}flyer-doc-remote{{else}}flyer-doc-local{{/if}}"></span>
      </a>
      <a href="without_selection.html" class="{{#is pagename "without_selection.html"}}current{{/is}}">
        ... without Selection
      </a>
      <a href="without_gallery.html" class="{{#is pagename "without_gallery.html"}}current{{/is}}">
        ... without Gallery
      </a>
      <a href="without_masonry.html" class="{{#is pagename "without_masonry.html"}}current{{/is}}">
        ... without Masonry Layout
      </a>
      <a href="responsive_col_width.html" class="{{#is pagename "responsive_col_width.html"}}current{{/is}}">
        ... with responsive column width
      </a>
      <a href="with_max_items_selection.html" class="{{#is pagename "with_max_items_selection.html"}}current{{/is}}">
        ... with Selection (max 5 items)
      </a>
      <a href="readme.html" class="{{#is pagename "readme.html"}}current{{/is}}">
        readme
      </a>
    </div>
    {{! this is only initialized, when the global gallery has a selection }}
    <div class="selection">
          <span class="toggle button" title="toggle selection"><span class="indicator"></span></span>
          <span class="pdf button" title="download selected photos as PDF document" data-url="{{pdfService}}" data-title="Flyer Selection" data-key="flyer" data-template="folio1"></span>
          <span class="clean button" title="delete selection"></span>
      </div>
</header>
